<span class="yellow lead">Vote: </span>
<span class="star-rating">
    @Html.ActionLink(" ", "Vote", "Vote", new { value = 1 }, new { })<i></i>
    @Html.ActionLink(" ", "Vote", "Vote", new { value = 2 }, new { })<i></i>
    @Html.ActionLink(" ", "Vote", "Vote", new { value = 3 }, new { })<i></i>
    @Html.ActionLink(" ", "Vote", "Vote", new { value = 4 }, new { })<i></i>
    @Html.ActionLink(" ", "Vote", "Vote", new { value = 5 }, new { })<i></i>
</span>

@Ajax.ActionLink("Test ", "Vote", "Vote", new { value = 1 },
    new AjaxOptions
        {
           OnFailure = "",
           OnSuccess = ""
        })
