<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="clearfix">
        <a href='@Url.Action("Index", "Home", new { @class = "navbar-brand" })' class="left">
            <img src='@Url.Content("~/Content/Images/logo.png")' />
        </a>
        @Html.Partial("_LoginPartial")

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse  main-menu">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { })</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Create Quiz", "Create", "QuizDefinitions", new { area = "Users" }, new { })</li>
                }              
            </ul>
            <div class="right search-form">
                <input type="text" class="search-box" />
                <button class="glyphicon glyphicon-search serch-button"></button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="body-content col-sm-9">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Quiz Factory - ASP.NET WVC Application</p>
            </footer>
        </div>
        <aside class="categories col-sm-3">Categories</aside>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
