<span class="yellow lead">Vote: </span>
<span class="star-rating">
    @Html.ActionLink("A ", "Vote", "Play", new { value = 1 }, new { })<i></i>
    @Html.ActionLink("A ", "Vote", "Play", new { value = 2 }, new { })<i></i>
    @Html.ActionLink("A ", "Vote", "Play", new { value = 3 }, new { })<i></i>
    @Html.ActionLink("A ", "Vote", "Play", new { value = 4 }, new { })<i></i>
    @Html.ActionLink("A ", "Vote", "Play", new { value = 5 }, new { })<i></i>
</span>
