@model QuizFactory.Mvc.Areas.Users.ViewModels.QuestionUserViewModel

@{
    ViewBag.Title = "Add Question";
}

<h2 class="green text-shadow">Add Question</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal gray">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
            </div>
        </div>
        @for (int i = 0; i < 10; i++)
        {
            string hidden = "hidden";

            if (i < 2)
            {
                hidden = "";
            }

            <div id="radio-group-@i" class="form-group @hidden">
                <div class=" col-md-offset-1 col-md-1 text-right">
                    @Html.RadioButton("correctAnswer", i)
                </div>
                <div class="col-md-10">
                    <input type="text" name="answers[@i]" data-answer-index="@i" class="form-control" @*value=@(Model.Answers.FirstOrDefault() ?? Model.Answers[i] )*@ />
                </div>
            </div>
        }

        <div id="radio-group-11" class="form-group hidden">
            <span>Maximum number of answers.</span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@if (TempData["quizId"] != null)
{
    <p>
        @Html.ActionLink("Back to List", "Index", new { quizId = TempData["quizId"] })
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        (function () {
            var maxId = 0;

            function checkNewRequired() {
                var inp = $("[data-answer-index='" + maxId + "']");
                if (inp.val()) {
                    maxId++;
                    a = $("#radio-group-" + maxId);
                    a.removeClass("hidden");
                }
            }

            function checkSchedule() {
                window.setTimeout(checkNewRequired, 0)
            }

            var inputs = $("input[type='text']");
            inputs.on('keypress', checkSchedule);
            inputs.on('paste', checkSchedule);
        }())

    </script>
}
