@model IEnumerable<QuizFactory.Mvc.ViewModels.QuizViewModel>
@using HelperExtentions

@{
    ViewBag.Title = "Home Page";
    var topMostPopular = new List<QuizFactory.Mvc.ViewModels.QuizViewModel>(ViewBag.TopMostPopular);
}

<div class="row">
    <div class="container header-boxes">
        @Html.Partial("_ListQuizBoxesPartial", topMostPopular)
    </div>
    <ul class="nav nav-tabs">
        <li class="active" id="first-tab">
            @Ajax.RawActionLink("<h4 class='content-title blue'>Most Recent</h4>", "RecentContent", "Home", new { },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content"
        },
        new { })
        </li>

        <li class="" id="second-tab">
            @Ajax.RawActionLink("<h4 class='content-title red'>Most Popular</h4>", "RecentContent", "Home", new { },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content"
        },
        new { })
        </li>
        <li class="" id="third-tab">
            @Ajax.RawActionLink("<h4 class='content-title yellow'>By Name</h4>", "RecentContent", "Home", new { },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content"
        },
        new { })
        </li>
        <li class="" id="fourth-tab">
            @Ajax.RawActionLink("<h4 class='content-title green'>By Rating</h4>", "RecentContent", "Home", new { },
    new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "content"
        },
        new { })
        </li>
    </ul>
    <div id="tabContent" class="tab-content">
        <div class=" container" id="content">
            BLQBLQ
        </div>     
    </div>
</div>

<script>
    $('#first-tab').click(function (e) {
        e.preventDefault()
        $('.active').removeClass('active')
        $(this).addClass('active')
    })

    $('#second-tab').click(function (e) {
        e.preventDefault()
        $('.active').removeClass('active')
        $(this).toggleClass("active")
    })

    $('#third-tab').click(function (e) {
        e.preventDefault()
        $('.active').removeClass('active')
        $(this).toggleClass("active")
    })

    $('#fourth-tab').click(function (e) {
        e.preventDefault()
        $('.active').removeClass('active')
        $(this).toggleClass("active")
    })
</script>
